* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary-color: rgba(4, 122, 14, 0.438);
  --main-color: rgb(5, 12, 0);
  --bg-color: linear-gradient(-135deg, rgba(4, 122, 14, 0.438) 0%, rgb(20, 46, 0) 40%);
}

.dark {
  background-color:  rgb(5, 12, 0);
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.toggle-icon {
  color: black;
}

.theme-container {
  transition: all 0.3s ease;
  /* height: 100vh; */
}

body {
  width: 100%;
  min-height: 100vh;
  /* background: var(--bg-color); */
}

button {
  transition: all 0.5s ease;
}

button:active {
  transform: scale(0.95);
}

a {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
  cursor: grabbing;
}

.nav-container {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem;
  z-index: 1;
}

.nav-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 75px;
  background: var(--secondary-color);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  position: absolute;
  left: 1rem;
  right: 1rem;
}

.nav-logo {
  font-size: 2rem;
  color: white;
}

.search-box {
  display: flex;
  align-items: center;
  height: 2rem;
}

.search-box input {
  height: 100%;
  width: 12rem;
  border: none;
  outline: none;
  border-top-left-radius: 10px;
  padding: 0 1rem;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.search-box .search-icon {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--secondary-color);
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.search-icon .icon {
  color: black;
}

.nav-links {
  display: flex;
  gap: 3rem;
  align-items: center;
  font-size: 1.2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: all .5s ease;
}

.nav-links a.active {
  color: teal;
}

.nav-box a {
  color: white;
  text-decoration: none;
}

.nav-box button {
  border: 0;
  outline: 0;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  background: var(--secondary-color);
}

.background-toggle-box {
  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sign-up-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
}

.sign-up-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 20px;
}

.light-box-shadow {
  box-shadow: 0 0 .3rem white;
}

.dark-box-shadow {
  box-shadow: 0 0 .3rem black;
}

.sign-up-box h1 {
  text-align: center;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.input-fields .input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-fields .input-container p {
  font-size: 1.2rem;
}

.input-container input {
  width: 22rem;
  height: 3rem;
  border-radius: 75px;
  border: 0;
  outline: 0;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(223, 223, 223);
}

.sign-up-box button {
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: white;
  background: var(--secondary-color);
  padding: 12px 0;
  cursor: pointer;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.sign-up-box .google {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.sign-in {
  font-size: 1.2rem;
  text-decoration: none;
}

.sign-in span {
  color: var(--secondary-color);
  cursor: pointer;
}

.sign-up-box .error {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 22rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  background: rgba(4, 122, 14, 0.185);
  cursor: no-drop;
}

.Footer {
  width: 100%;
  padding: 5rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background: rgb(10, 10, 10);
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
}

.dark-bg {
  border-top: 2px solid var(--secondary-color);
}

.top-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.programs, .contact, .service, .news-letter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}

.programs h2, 
.contact h2, 
.service h2,
.news-letter h2 {
  margin-bottom: 5px;
  color: white;
  font-size: 2rem;
}

.subscribe {
  display: flex;
  gap: 5px;
  align-items: center;
}

.subscribe input {
  height: 2.5rem;
  width: 18rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0 1rem;
  font-weight: 500;
}

.subscribe button {
  width: 7rem;
  height: 2.5rem;
  color: white;
  /* font-size: 1.2rem; */
  border-radius: 5px;
  background: var(--secondary-color);
  cursor: pointer;
  border: 0;
  outline: 0;
}

.social-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.social-icons a {
  transition: all .5s ease;
}

.social-icons a:hover {
  transform: scale(1.19);
}

.bottom-box {
  width: 80%;
  border-top: 2px dotted var(--secondary-color);
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.bottom-box .logo-box {
  font-size: 5rem;
  font-family: fantasy;
}

.user-info-container {
  position: relative;
}

.user-info {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-icon {
  width: 100%;
  height: 100%;
}

.user-info img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-info-drop-down {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  background: var(--bg-color);
  flex-direction: column;
  position: absolute;
  right: -10px;
  top: 3.5rem;
}

.user-info-drop-down.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all .5s ease;
}

.user-info-drop-down.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all .5s ease;
}

.dashboard {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.side-bar {
  width: 18%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--secondary-color);
  min-height: 100vh;
  /* background: var(--main-color); */
}

.logo-contain {
  font-size: 3rem;
  font-family: cursive;
  padding: 2rem 1rem;
  box-shadow: inset 0 0 1rem var(--secondary-color);
  width: 100%;
  border-radius: 5px;
}

.side-bar-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem 10px;
  /* align-items: center; */
}

.profile-direct {
  display: flex;
  gap: 1rem;
  box-shadow: inset 0 0 .3rem var(--secondary-color);
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  align-items: flex-end;
  position: relative;
  transition: all .5s ease-in-out;
}

.profile-direct.active {
  background-color: var(--secondary-color);
}

.profile-direct span {
  align-self: center;
  position: absolute;
  background: var(--secondary-color);
  border-radius: 2px;
  padding: 2px 8px;
  right: 1rem;
  /* bottom: -50%; */
}

.post-direct {
  display: flex;
  gap: 1rem;
  box-shadow: inset 0 0 .3rem var(--secondary-color);
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  align-items: flex-end;
  transition: all .5s ease-in-out;
}

.post-direct.active {
  background-color: var(--secondary-color);
}

.side-bar-content .sign-out {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  box-shadow: inset 0 0 .3rem var(--secondary-color);
  border-radius: 10px;
  padding: 1rem;
  transition: all .5s ease-in-out;
}

.profile-direct:hover,
.post-direct:hover,
.side-bar-content .sign-out:hover {
  background-color: var(--secondary-color);
}

.profile {
  width: 82%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}

.profile-container form .img-box {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.img-box img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.img-opacity {
  opacity: 0.6;
}

.profile-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 10px;
  align-items: center;
}

.profile-container form input {
  width: 25rem;
  height: 3rem;
  border-radius: 10px;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
  padding: 0 10px;
  font-weight: 500;
  background-color: rgb(223, 223, 223);
}

.profile-container form button {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 1rem;
  border: 0;
  outline: 0;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.profile-container form a {
  width: 100%;
}

.profile-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.profile-text p {
  cursor: pointer;
}

.image-change {
  position: absolute;
  display: none;
}

.image-upload-error {
  text-align: center;

}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;
}

.modal-box {
  background: var(--main-color);
  position: relative;
  width: 20rem;
  height: 10rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  transition: all .5s ease;
}

.close-modal {
  position: absolute;
  right: -7px;
  top: -7px;
  background: var(--bg-color);
  border-radius: 50%;
  font-size: 2.5rem;
  padding: 10px;
  cursor: pointer;
}

.modal-box .actions {
  display: flex;
  gap: 2rem;
}

.modal-box .actions button {
  border: 1px solid var(--secondary-color);
  outline: 0;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 1rem;
  align-self: flex-end;
  cursor: pointer;
  background: transparent;
}

.modal-text {
  text-align: center;
}

.create-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.create-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 600px;
  margin-top: 5rem;
}

.create-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.create-box form .select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.select input {
  border: 0;
  outline: 0;
  border-radius: 10px;
  height: 2.5rem;
  width: 23rem;
  padding: 0 10px;
  font-size: 1rem;
  background-color: rgb(223, 223, 223);
}

.select .select-box {
  position: relative;
  font-size: 1.1rem;
}

.select-box button {
  width: 200px;
  padding: 15px 0;
  border: 0;
  outline: 0;
  border-radius: 75px;
  background: var(--secondary-color);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.select-box .select-drop-down {
  position: absolute;
  box-shadow: 0 0 .2rem var(--secondary-color);
  border-radius: 10px;
  padding: 10px 0;
  list-style: none;
  background: var(--bg-color);
  width: 200px;
  top: 3.5rem;
  z-index: 11;
}

.select-drop-down li {
  padding: 10px 7px;
  transition: all .5s ease;
}

.select-drop-down li:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.select-drop-down.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all .5s ease;
}

.select-drop-down.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all .5s ease;
}

form .file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.file input {
  width: 350px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 .2rem var(--secondary-color);
  border-radius: 50px;
  background-color: rgb(223, 223, 223);
}

.file button {
  width: 200px;
  padding: 15px 0;
  border: 0;
  outline: 0;
  border-radius: 75px;
  background: var(--secondary-color);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

::-webkit-file-upload-button {
  color: white;
  background: var(--bg-color);
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

.react-quill {
  width: 100%;
  height: 50vh;
  margin-bottom: 2rem;
}

.ql-editor {
  font-size: 1.09rem;
}

form .publish-button {
  width: 100%;
  border-radius: 5px;
  border: 0;
  outline: 0;
  padding: 15px 0;
  background: var(--secondary-color);
  font-size: 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
}

.upload-image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.upload-image-button:disabled {
  background: rgba(4, 122, 14, 0.185);
  cursor: no-drop;
}

.form-data-image {
  width: 100%;
  height: 20rem;
}

.dashboard-posts-list {
  width: 82%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders are merged */
  padding: 0 1rem;
}

thead th {
  padding: 1rem;
  text-align: left; 
  border-bottom: 2px solid var(--secondary-color); /* Add bottom border to header */
}

tbody td {
  padding: 1rem;
  border-bottom: 1px solid var(--secondary-color); /* Add border between rows */
}

table tbody tr td a img {
  width: 10rem;
  height: 5rem;
  border-radius: 5px;
}

td .admin-edit-post {
  color: var(--secondary-color);
}

td .admin-delete-post {
  cursor: pointer;
}

.see-more {
  text-align: center;
  padding: 2rem 0;
  color: var(--secondary-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.dash-board-user-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.post-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.post-item-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.post-item-box button {
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  outline: 0;
  color: white;
  padding: 10px 15px;
  background: transparent;
  cursor: pointer;
}

.post-item-box img {
  width: 100%;
  height: 30rem;
  border-radius: 10px;
}

.category-author {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.post-item-box .post-sub-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid var(--secondary-color);
}

.post-item-box .post-content {
  width: 100%;
  max-height: 30rem;
  overflow: auto;
}

.comment-section {
  width: 80%;
  font-size: 1.2rem;
}

.signed-in-user {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.signed-in-user-info {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.signed-in-user-info img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.not-signed-in {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  padding: 1rem 0;
}

.not-signed-in a {
  color: var(--secondary-color);
}

.comment-section form {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid var(--secondary-color);
  padding: .8rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-section form textarea {
  width: 300px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: var(--bg-color);
  border: none;
  padding: .8rem;
  font-size: 1rem;
  outline: none;
  color: black;
  resize: none;
  color: white;
}

.comment-section form .form-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.form-box button {
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  background: transparent;
}

.form-box p {
  font-size: .9rem;
}

.comment-item {
  display: flex;
  align-items: left;
  gap: 1rem;
  flex-direction: column;
  border-bottom: 1px solid var(--secondary-color);
  width: 500px;
  padding: 10px 0;
}

.comment-item .comment-user-info {
  display: flex;
  gap: .5rem;
  align-items: center;
  font-size: 1rem;
}

.comment-item .user-name span {
  font-size: .8rem;
  color: rgb(170, 231, 29);
}

.comment-item img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.comment-display {
  padding-top: 2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}

.comment-total-box {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.comment-total-number {
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 3.5rem;
}

.comment-content .actions {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: .9rem;
}

.actions .edit-comment {
  cursor: pointer;
}

.actions .delete-comment {
  transition: all .1s linear;
  cursor: pointer;
}

.actions .delete-comment:hover {
  color: rgb(243, 57, 57);
}

.actions .thumb {
  font-size: .9rem;
  cursor: pointer;
  transform: scaleX(-1);
  align-self: center;
  color: rgb(201, 201, 201);
  transition:  all .1s linear;
}

.actions .thumb:hover {
  color: rgb(38, 38, 245);
}

.actions .thumb-blue {
  color: rgb(38, 38, 245);
}

.Author {
  border: 1px solid rgb(255, 72, 0);
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

.edit-comment-content {
  display: flex;
  position: relative;
}

.edit-comment-content textarea {
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  height: 5rem;
  overflow-y: auto;
  resize: none;
  padding: .8rem;
  background: var(--bg-color);
  color: white;
  outline: none;
}

.edit-comment-content textarea ::-webkit-scrollbar {
  width: none;
}

.edit-comment-content .comment-content-edit-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: end;
}

.comment-content-edit-actions button {
  align-self: right;
  color: white;
  border-radius: 20px;
  border: 0;
  outline: 0;
  background: var(--secondary-color);
  cursor: pointer;
  padding: 10px 15px;
  font-size: 1rem;
}

.recent-articles-container {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 0 2rem;
}

.recent-articles-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.post-card-item a img {
  width: 15rem;
}

.collection-container {
  width: 82%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.collection-summary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection-summary .summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem var(--secondary-color);
  padding: 10px;
  width: 20rem;
  height: 10rem;
}

.summary .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-text {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.total-text .head-text {
  font-size: 1.2rem;
}

.summary-icon {
  background: var(--secondary-color);
  border-radius: 50%;
  padding: 10px;
  font-size: 3rem;
}

.increased {
  display: flex;
  gap: .4rem;
  align-items: flex-end;
}

.increased .icon-box {
  display: flex;
  gap: 2px;
  align-items: flex-end;
}

.collection-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.users-info {
  box-shadow: 0 0 .5rem var(--secondary-color);
  min-width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 30rem;
}

.users-info table {
  height: 100%;
}

.users-info .top-box-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
}

.top-box-info button {
  background: var(--secondary-color);
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 8px 12px;
  font-size: .9rem;
  border: 0;
  outline: 0;
}

.users-info tbody td {
  border-bottom: none;
}

.user-info thead th {
  border-bottom: none;
}

.users-info img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.posts-info {
  align-self: center;
}

.posts-info img {
  width: 8rem;
  height: 4rem;
  border-radius: 8px;
}